<div class="container">

  <div class="row">
    <div ng-repeat=" list in list.allQuotes | Filter:" class="col-xs-12 col-md-4 col-lg-3">
      
<!-- section to list all the quotes as thumbnail  -->
 <div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="thumbnail">
      <div class="caption">
        <h4 class="text-align center"><em>"{{list.quote}}"</em></h4>
        <br>
        <p><strong>Author</strong>: {{list.author}} <br> <strong>Rating</strong>: {{list.rating}} out of 5 stars </p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
      
<!--       glyphicon glyphicon-star
      glyphicon glyphicon-star-empty
      glyphicon glyphicon-remove -->
      
      
    </div>
  </div>
</div>




<!--contains petpage bio info  -->

<!-- <div class="container">

  <div class="row">
    <div ng-repeat="(petIndex, selectedPet) in animal.available | filter:animal.isAvailable" class="col-xs-12 col-md-4 col-lg-3 selectedPet">
 -->
      <!--   section for the animal thumbnails     -->
<!-- 
      <div class="row"> -->
<!--         <div class="col-xs-12 col-sm-8 col-md-6"> -->
<!--           <div class="thumbnail">
            <img class="img" ng-src="{{selectedPet.img}}">
            <div class="caption">
              <h3>{{selectedPet.name}}</h3>
              <p><a href="#/petpage" class="btn btn-primary" role="button" ng-click="animal.showPet(selectedPet)">About Me</a></p>
            </div> -->

            <!--   section for 'about me' module      -->

<!--             <div class="modal fade" id="myModal{{petIndex}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">About Me:</h4>
                  </div>
                  <div class="modal-body">
                    <span class="pull-left">Name:  {{selectedPet.name}} <br> Gender:  {{selectedPet.gender}} <br> Age:  {{selectedPet.age}} 
              <br> Breed: {{selectedPet.breed}} <br>Size: {{selectedPet.size}} <br>Price: {{selectedPet.price | currency}} <br>Fixed: {{selectedPet.fixed}} 
              <br>Notes: {{selectedPet.notes}}
                   <div class="modal-footer">
                     <button type="submit" data-dismiss="modal" class="btn btn-default back">Back to Pet Selection</button>
                     <a  ng-click="animal.buyPet(selectedPet, petIndex)" role="button" class="btn" data-toggle="modal"><button type="submit" data-dismiss="modal" class="btn btn-default select">
                       Reserve now!
                       </button></a>
                   </div></span>
                  </div>
                </div>
              </div>
            </div> -->

            <!-- section for "purchase" modal linked to "about me" modal  -->

<!--             <div id="purchase{{petIndex}}" class="modal fade" tabindex="-1" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-width="760">
              <div class="modal-dialog">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title">Enter Your Information Below to Complete your Reservation:</h4>
                </div>
                <div class="modal-body">
                  <form class="form-horizontal" role="form">


                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="exampleInputName2">Name:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Derek Zoolander">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="inputEmail3">Email:</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Sending your confirmation email to human@planetearth.com" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="exampleInputName2">Number:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="888.867.5309">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="exampleInputName2">Message:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="I am very interested in meeting Spot!">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="exampleInputName2">$50 Deposit Fee:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Credit Card # 6666-7777-8888-9999">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <div class="alert alert-warning" role="alert">{{selectedPet.name}} can't wait to meet you! </div>
                  <button type="submit" data-dismiss="modal" class="btn btn-default back">Back to Pet Selection</button>
                  <button type="submit" data-dismiss="modal" class="btn btn-default select" ng-click="animal.purchase(selectedPet)">Complete my Reservation!</button>
                </div>
              </div>
            </div> -->

            <!--  closing <div>s. Don't delete   -->
<!--           </div> -->
<!--         </div> -->
<!--       </div>
    </div>
  </div>
</div> -->

