<div class="container">
  <div id="noBorder" class="form-control">


    <h1 class="pgHeader">{{quiz.greeting}}</h1>

    <h3 class="chooseLang">Which language would you like to study?</h3>
    <hr>
    <br>

    <!--     <input type="text" ng-model="lingo.word"> -->
    <select class="form-control" ng-model="quiz.lang">
     <option value="" selected disabled>Choose a language:</option>


  <!--     <input type="text" ng-model="lingo.word"> -->
  <select class ="form-control" ng-model="quiz.lang">
     <option value="" selected disabled>Pick a language!</option>

        <option value="de">German</option>
         <option value="th">Thai</option>
         <option value="so">Somali</option>
         <option value="sk">Slovak</option>
         <option value="fr">French</option>
         <option value="es">Spanish</option>
      </select>

    <br>
    <br>


  <div ng-repeat='words in quiz.question.words'>
    <h3 ng-model='quiz.words'> What is the word for :

    {{words.word}}
  </h3>



      <br>
      <input class="quizAnswer" placeholder="answer here" type="text" ng-model='words.answer'>

    </div>
    <br>

    <br>

    <div ng-repeat='trans in quiz.resData'>

      <h1>{{trans.translatedText}}</h1>
    </div>
    <br>

    <button class='btn btn-success' ng-click='quiz.translate()'>Check Your Quiz Results!</button>
    <br>
    <br>

<!--     <h1>{{quiz.resData}}</h1> -->







<!--     <h1>
        {{lingo.greeting}}
      </h1>
    <br>
    <h2 ng-model="lingo.word">Learn how to say hello in another language!</h2>

    <input type="text" ng-model="lingo.word">
    <select ng-model="lingo.lang">
        <option value="de">German</option>
         <option value="th">Thai</option>
         <option value="so">Somali</option>
         <option value="sk">Slovak</option>
         <option value="fr">French</option>
         <option value="es">Spanish</option>
      </select>

    <button class='btn btn-success' ng-click='lingo.translate()'>Translate Now!</button>

    <h1>{{lingo.resData}}</h1> -->
