<!DOCTYPE html>
<html ng-app="hideForm" lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular.js"></script>
  <script src="hide.js"></script>
  <link rel="stylesheet" href="hide.css">


  <title>NG.hide</title>
</head>

<body ng-controller="user as userForm">

<div class="form_edit">
 <h2 class="header">Update your information here</h2>
<form class="form-horizontal" role="form" ng-show="update">
  <div class="form-group">
    <label for="inputName3" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-3">
      <textarea ng-model="userForm.name"class="form-control" rows="3" placeholder="Samuel L. Jackson" ></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Bio</label>
    <div class="col-sm-3">
     <textarea ng-model="userForm.bio" class="form-control" rows="3" placeholder="A caffeine dependent life-form" ></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Favorite Books</label>
    <div class="col-sm-3">
      <textarea ng-model="userForm.favBooks" class="form-control" rows="3" placeholder="The Shining" ></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Favorite JS librarys</label>
    <div class="col-sm-3">
      <textarea ng-model="userForm.favLibrary" class="form-control" rows="3" placeholder="Bootstrap"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
  </div>
<button id="edit_button" type="button" class="btn btn-info" ng-click="update = !update">Summit your changes!</button>
</form>
</div>

  
  
<!-- Your user profile that will be updated when the form above is used   -->
<div class="userProfile">
  <div>
  <h3>Name: {{userForm.name}}</h3>
</div>
  <div>
  <h3>Bio: {{userForm.bio}}</h3>
</div>
  <div>
  <h3>Favorite Books: {{userForm.favBooks}}</h3>
</div>
  <div>
  <h3>Favorite JS Librarys: {{userForm.favLibrary}}</h3>
</div>
  </div>

<button id="edit_button" type="button" class="btn btn-info" ng-click="update = !update">Click here to edit your profile!</button>

  
  
</body>
</html>