body {
  font-family: Arial, sans-serif;
}

.user-name p{
  display: block;
}

.user-name input{
  display: none;
}

.about p{
  display: block;
}

.about textarea{
  display: none;
}

h1::first-letter { 
    font-size: 200%;
}

p {
  font-size: 20px;
}

container.innerhtml {
  overflow: auto;
  height: 200px;
  width: 400px; 
}


