<!DOCTYPE html>
<html ng-app="animal" lang="en">
<head>
  <meta charset="UTF-8">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular.js"></script>
  <script src="part1.js"></script>
  <title>Part 1</title>
  
</head>
<body ng-controller="button as cat">
   <h1>
     Part 1
  </h1>
  
  <h1>
    {{cat.message}}
  </h1>
  
  <button  ng-click="cat.youGetAPuppy();">
    Click me for a puppy!
  </button>
  
  <button ng-click="show =! show">
    Click me for a kitten!
      </button>
    <ul ng-show="show">
      <li>Grumpy cat</li>
      <li>Naked cat</li>
      <li>Mr. Picklesworth</li>
    </ul>
 
  
  
  
</body>
</html>